<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932635538116-asbeu63i99bo2kjv62p4bcri2189t0at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932635538116-asbeu63i99bo2kjv62p4bcri2189t0at</string>
	<key>API_KEY</key>
	<string>AIzaSyBlAdj7He86WbHgtk5KiSeWivyQ57sf2j0</string>
	<key>GCM_SENDER_ID</key>
	<string>932635538116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.payFlow</string>
	<key>PROJECT_ID</key>
	<string>payflow-b9f2c</string>
	<key>STORAGE_BUCKET</key>
	<string>payflow-b9f2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932635538116:ios:e75d62231965465d82cf91</string>
</dict>
</plist>